.about {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    color: var(--black-1);
    padding: 0 1rem;
    gap: 2rem;
}
.about__image {
    width: clamp(20.25rem, -14.205rem + 227.273vi, 156.25rem);
    max-width: 30vw;
    margin: 0 1rem;
}
.about__content {
    max-width: 50vw;
    text-align: left;
}
.about__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.about__habilities {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
}
.about__icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about__certifications {
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
}
.about__certifications-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.about__certifications-UTN {
    width: 5rem;
}
.about__certifications-titiloUTN {
    width: 10rem;
}
.about__certifications-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
@media screen and (max-width: 1100px) {
    .about {
        flex-direction: column;
    }
    .about__image {
        display: none;
    }
    .about__content {
        max-width: 100%;
        text-align: center;
    }
    .about__habilities {
        margin-top: 2rem;
    }
    .about__certifications {
        margin-top: 3rem;
    }
    .about__certifications-container {
        margin-top: 2rem;
        justify-content: center;
    }
    .about__certifications-UTN {
        width: 7rem;
    }
    .about__certifications-titiloUTN {
        width: 15rem;
    }
}